* {
  margin: 0;
  padding: 0;
}

.white {
  color: white;
}

.inline {
  display: inline;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all .4s;
}

ul {
  list-style: none;
}

.link {
  color: #1454FB;
  font-weight: 500;
}

.black {
  color: black;
}

.blue {
  color: #072440;
}

button {
  cursor: pointer;
  transition: all .4s;
}

.size-1 {
  font-size: 1rem;
}

.size-2 {
  font-size: 2rem;
}

.size {
  font-size: 3rem;
}

body {
  font-family: 'Montserrat', sans-serif;
}

body .container {
  width: 1200px;
  border: 3px solid black;
  margin: 0 auto;
}

body .container .row {
  width: 950px;
  margin: 0 auto;
}

header {
  background-color: #072440;
  height: 30px;
}

header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .row .right-side-header {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

header .row .right-side-header img {
  width: 15px;
  height: 20px;
  margin-right: -30px;
}

.subheader nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  height: 50px;
  margin-left: 450px;
}

.subheader nav a {
  color: #072440;
}

.subheader nav .active {
  color: #1B44C0;
}

.bg-header {
  height: 700px;
  background-image: url("images/bg-header.png");
  background-size: 100% 100%;
  margin-top: -70px;
}

.bg-header h1 {
  font-size: 55px;
  margin-top: 100px;
}

.bg-header p {
  font-size: 20px;
  margin: 30px 0px;
}

.bg-header button {
  background-color: inherit;
  color: #1B44C0;
  width: 150px;
  height: 50px;
  border-color: #1B44C0;
}

.bg-header .cards {
  display: flex;
  margin-top: 100px;
}

.bg-header .cards .left-card {
  background-color: #072440;
  width: 450px;
  height: 250px;
}

.bg-header .cards .left-card .row-card {
  width: 390px;
  margin: auto;
  position: relative;
  margin-top: 30px;
}

.bg-header .cards .left-card h2 {
  font-size: 40px;
  margin: 0;
}

.bg-header .cards .left-card .under-border {
  background-color: #1454FB;
  width: 100px;
  height: 1px;
}

.bg-header .cards .left-card img {
  position: absolute;
  top: 100px;
  right: 0px;
}

.bg-header .cards .right-card {
  background-color: white;
  width: 450px;
  height: 250px;
}

.bg-header .cards .right-card .input {
  width: 200px;
  height: 100px;
  display: inline-block;
  margin-left: 15px;
  margin-top: 30px;
}

.bg-header .cards .right-card .input-2 {
  margin-top: 0;
}

.bg-header .cards .right-card input {
  background-color: #DAE5FF;
  height: 40px;
  border: none;
  width: 180px;
}

.service .moving-company {
  display: flex;
  justify-content: space-between;
}

.service .left-part-service {
  width: 45%;
}

.service .left-part-service .link {
  color: #1454FB;
  font-weight: 500;
}

.service .left-part-service h2, .service .left-part-service p {
  color: #072440;
}

.service .left-part-service h2 {
  font-size: 35px;
  margin: 30px 0px;
}

.service .right-part-service {
  width: 35%;
}

.service .small-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.service .small-cards .card {
  width: 48%;
  height: 250px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 1px black,0px 0px 3px black;
  border-color: white;
  position: relative;
  border-radius: 9px;
}

.service .small-cards .card .under-border1 {
  position: absolute;
  border: 2px solid #1454FB;
  width: 90px;
  top: 190px;
}

.service .small-cards .card h3 {
  position: absolute;
  top: 70px;
  color: #072440;
  font-weight: 700;
}

.service .small-cards .card p {
  position: absolute;
  top: 110px;
  font-weight: thin;
  color: #072440;
}

.service .small-cards .card a {
  position: absolute;
  top: 200px;
  color: #1454FB;
}

.link1 {
  text-align: center;
}

.service-include {
  background-color: #D5E0FB;
  height: 630px;
}

.service-include .row {
  display: flex;
  justify-content: space-between;
}

.service-include .include-left {
  width: 45%;
  margin-top: 50px;
}

.service-include .include-left p {
  margin: 20px 0px;
  font-weight: 100;
}

.service-include .include-left button {
  background-color: #1B44C0;
  font-size: 20px;
  width: 200px;
  height: 50px;
  margin: 0px 0px 20px 0px;
  border-radius: 5px;
  font-weight: bold;
  position: relative;
}

.service-include .include-left button img {
  position: absolute;
  top: 16px;
  right: 20px;
  width: 17px;
}

.service-include .include-right {
  width: 50%;
  margin-top: 50px;
}

.service-include .include-right .rect-cards {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  height: 500px;
}

.service-include .include-right .rect-cards .card {
  background-color: white;
  width: 47%;
  height: 220px;
  border-radius: 10px;
}

.service-include .include-right .rect-cards .card h3 {
  margin-top: 80px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #072440;
}

.service-include .include-right .rect-cards .card p {
  color: #072440;
  font-weight: 100;
}

.service-include .include-right .rect-cards .card .row-card1 {
  width: 200px;
  margin: 0 auto;
}

.support {
  margin-top: 50px;
}

.support .row {
  display: flex;
  justify-content: space-between;
}

.support .left-support {
  width: 50%;
}

.support .left-support h1 {
  color: #072440;
  margin: 30px 0px;
  margin-bottom: 60px;
  font-size: 35px;
}

.support .left-support .tiny-cards {
  height: 200px;
  display: flex;
}

.support .left-support .tiny-cards .card {
  width: 50%;
}

.support .left-support .tiny-cards .card h3 {
  margin-bottom: 20px;
  color: #072440;
}

.support .left-support .every-day {
  background-color: #072440;
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.support .left-support .every-day .row-card2 {
  width: 85%;
  margin: auto;
  margin-top: 30px;
}

.support .left-support .every-day .row-card2 .heading-card {
  display: block;
}

.support .left-support .every-day .row-card2 p {
  margin-top: 20px;
  font-size: 17px;
}

.support .right-support {
  width: 48%;
}

.support .right-support img {
  width: 100%;
  height: 100%;
}

.what-they-say {
  margin-top: 50px;
  height: 400px;
  display: flex;
  background-color: #072440;
  justify-content: space-around;
}

.what-they-say .say-left {
  width: 45%;
}

.what-they-say .say-right {
  width: 50%;
  margin-top: 70px;
}

.what-they-say .say-right .card {
  width: 400px;
  height: 380px;
  background-color: white;
  border-radius: 8px;
}

.what-they-say .say-right .card .row-card {
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.what-they-say .say-right .card .row-card .link {
  margin-top: 50px;
  display: block;
  position: absolute;
  top: -20px;
}

.what-they-say .say-right .card .row-card h2 {
  position: absolute;
  top: 60px;
  color: #072440;
}

.what-they-say .say-right .card .row-card p {
  position: absolute;
  top: 95px;
  font-size: 15px;
  color: #072440;
  line-height: 1.5rem;
}

.what-they-say .say-right .card .row-card img {
  position: absolute;
  top: 280px;
}

.what-they-say .say-right .card .row-card .person {
  top: 280px;
  left: 60px;
  font-weight: bold;
}

.what-they-say .say-right .card .row-card .person1 {
  top: 300px;
  left: 60px;
}

.what-they-say .say-right .card .row-card .circle-border {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  background-color: gray;
  display: block;
}

.what-they-say .say-right .card .row-card .circle-border1 {
  position: absolute;
  top: 350px;
  left: 60px;
}

.what-they-say .say-right .card .row-card .circle-border2 {
  position: absolute;
  top: 350px;
  left: 90px;
  background-color: black;
}

.what-they-say .say-right .card .row-card .circle-border3 {
  position: absolute;
  top: 350px;
  left: 120px;
}

.additional-service {
  margin-top: 90px;
}

.additional-service a {
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

.additional-service h1 {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.additional-service .cards {
  display: flex;
  justify-content: space-between;
}

.additional-service .cards .card {
  margin-top: 50px;
  width: 30%;
}

.additional-service .cards .card h3 {
  color: #072440;
}

.additional-service .cards .card a {
  display: inline;
  color: #1454FB;
}

.additional-service .cards .card p {
  margin-top: 30px;
  margin-bottom: 20px;
  color: #072440;
}

.additional-service .cards .card .under-border {
  border: 1px solid #1454FB;
  width: 100px;
  margin-top: 5px;
}

.bg-plan-move {
  height: 500px;
  background-image: url("images/plant.png");
  background-repeat: no-repeat;
  margin-top: 150px;
  position: relative;
}

.bg-plan-move .card {
  background-color: white;
  width: 500px;
  border-radius: 10px;
  margin-top: 100px;
  height: 330px;
  position: absolute;
  top: 20px;
}

.bg-plan-move .card .row-card {
  width: 400px;
  margin: auto;
}

.bg-plan-move .card h1 {
  font-size: 60px;
}

.bg-plan-move .card p {
  font-weight: bolder;
  font-size: 30px;
  margin-top: 20px;
}

.bg-plan-move .card button {
  background-color: #1B44C0;
  width: 100px;
  height: 50px;
  font-size: 15px;
  border-radius: 3px;
  margin-top: 20px;
  font-weight: bold;
}

.tips-and-guides {
  height: 600px;
}

.tips-and-guides a {
  text-align: center;
  display: block;
  margin-top: 50px;
}

.tips-and-guides h2 {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: #072440;
}

.tips-and-guides .cards {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.tips-and-guides .cards .card {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px black;
}

.tips-and-guides .cards .card img {
  width: 100%;
  height: 50%;
}

.tips-and-guides .cards .card .row-card {
  width: 250px;
  margin: auto;
}

.tips-and-guides .cards .card .row-card h3 {
  color: #072440;
  margin-top: 10px;
}

.tips-and-guides .cards .card .row-card p {
  font-size: 12px;
  margin-top: 10px;
}

.fura {
  width: 100%;
}

.fura .row {
  display: flex;
  justify-content: space-between;
}

.fura .left-fura {
  width: 55%;
}

.fura .left-fura h1 {
  font-size: 35px;
  color: #072440;
}

.fura .left-fura button {
  background-color: #1B44C0;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin-top: 40px;
  font-weight: bold;
  border: none;
}

.fura .right-fura {
  width: 45%;
}

.fura .right-fura img {
  width: 500px;
  margin-top: -100px;
}

footer {
  height: 300px;
  background-color: #072440;
}

footer .row {
  display: flex;
  justify-content: space-between;
  height: 250px;
}

footer .left-footer {
  width: 35%;
  height: 300px;
}

footer .left-footer p {
  font-size: 15px;
  margin-top: 100px;
}

footer .left-footer .sm {
  margin-top: 20px;
  display: flex;
  width: 120px;
  justify-content: space-between;
}

footer .right-footer {
  width: 25%;
  height: 300px;
}

footer .right-footer h1 {
  font-size: 20px;
  margin-top: 40px;
}

footer .right-footer .under-border {
  border: 1px solid white;
  width: 200px;
  margin-top: 5px;
}

footer .right-footer ul {
  margin-top: 20px;
}

footer .right-footer ul li {
  margin-top: 5px;
}

footer .right-footer ul li a {
  color: white;
}

footer .center-footer {
  width: 25%;
}

footer .center-footer h1 {
  font-size: 20px;
  margin-top: 40px;
}

footer .center-footer .under-border {
  border: 1px solid white;
  width: 200px;
  margin-top: 5px;
}

footer .center-footer ul {
  margin-top: 20px;
}

footer .center-footer ul li {
  margin-top: 5px;
}

footer .center-footer ul li a {
  color: white;
}

footer .bottom-footer {
  position: relative;
}

footer .bottom-footer .under-border {
  border: 1px solid white;
  width: 500px;
}

footer .bottom-footer p {
  font-size: 12px;
  display: inline;
}

footer .bottom-footer a {
  color: white;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  top: 25px;
  left: 0px;
}

footer .bottom-footer .link-footer {
  margin-left: 280px;
  display: inline-block;
  margin-right: 15px;
  position: absolute;
  left: -190px;
}

.about-us-page {
  width: 100%;
  height: 200px;
  background-color: #072440;
  position: relative;
}

.about-us-page h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  margin-top: 50px;
  position: absolute;
}

.about-us-page .home {
  margin-right: 15px;
  margin-top: 130px;
}

.about-us-page .right {
  margin: 0px 20px;
}

.about-us-page a {
  font-size: 15px;
}

.cover {
  height: 500px;
  background-color: #DAE5FF;
}

.cover h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  color: #072440;
  margin-top: 50px;
}

.cover p {
  text-align: center;
  font-size: 15px;
  width: 80%;
  margin-left: 90px;
}

.cover .cards {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
}

.cover .cards .card {
  width: 30%;
  text-align: center;
  color: #072440;
  transition: all .3s;
  padding: 20px;
}

.cover .cards .card h3 {
  margin-bottom: 20px;
  color: #072440;
}

.we-started .row {
  display: flex;
}

.we-started .row img {
  width: 50%;
}

.we-started .row .card {
  width: 400px;
  height: 280px;
  margin-top: 150px;
  margin-left: -50px;
  background-color: white;
  border-radius: 10px;
}

.we-started .row .card .row-card {
  width: 300px;
  margin: auto;
  color: #072440;
}

.we-started .row .card .row-card h1 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.we-started .row .card .row-card p {
  margin-bottom: 10px;
}

.we-started .row .card .row-card .btn {
  background-color: #1B44C0;
  font-size: 20px;
  width: 200px;
  height: 40px;
  margin: 0px 0px 20px 0px;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
}

.zero-to-hero {
  display: flex;
  justify-content: space-between;
}

.zero-to-hero .left {
  width: 50%;
}

.zero-to-hero .left img {
  width: 100%;
}

.zero-to-hero h1 {
  font-size: 2rem;
  margin-top: 20px;
}

.zero-to-hero p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.zero-to-hero .right {
  width: 45%;
}

.zero-to-hero .right .one-rect {
  height: 120px;
}

.zero-to-hero .right .rect {
  width: 55px;
  height: 55px;
  background-color: #1B44C0;
}

.zero-to-hero .right .rect h3 {
  margin-left: 70px;
}

.zero-to-hero .right .rect p {
  width: 350px;
  margin-left: 70px;
  font-size: 13px;
}

.zero-to-hero .right .border {
  border: 1px solid #1B44C0;
  width: 90px;
  transform: rotate(90deg);
  transform-origin: 25px;
}

.partners {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 50%;
}

.need-help .we-started .row {
  display: flex;
}

.need-help .we-started .row .card {
  margin: 0;
  width: 100%;
  height: inherit;
}

.need-help .we-started .row .card .row-card {
  width: 400px;
}

.need-help .we-started .row .card .row-card h1 {
  font-size: 2rem;
}

.video {
  height: 400px;
  border: 2px solid black;
  background-color: #465B70;
}

.video h2 {
  margin-top: 150px;
  font-size: 2rem;
  text-align: center;
}

.video h1 {
  font-size: 3rem;
  text-align: center;
}

.video svg {
  margin: auto;
  display: block;
  margin-top: 10px;
}

.video a {
  color: white;
  text-align: center;
  margin-top: 10px;
  display: block;
}

.what-they-say-2 {
  background-color: white;
}

.what-they-say-2 .row {
  display: flex;
}

.what-they-say-2 .row .card {
  box-shadow: 0px 0px 3px gray;
  width: 350px;
  height: 380px;
}

.what-they-say-2 .row .card .row-card {
  width: 300px;
}

.what-they-say-2 .row .card .row-card .circle-border1 {
  left: 100px;
}

.what-they-say-2 .row .card .row-card .circle-border2 {
  left: 130px;
}

.what-they-say-2 .row .card .row-card .circle-border3 {
  left: 160px;
}

.what-they-say-2 .row .card .row-card img {
  top: 270px;
}

.what-they-say-2 .row .card .row-card .person {
  top: 270px;
}

.what-they-say-2 .row .card .row-card .person1 {
  top: 290px;
}

.gallery {
  background-color: #DAE5FF;
}

.gallery .one-gallery {
  height: 500px;
}

.gallery .one-gallery .row {
  display: flex;
  justify-content: space-between;
}

.gallery .one-gallery .row .left {
  width: 45%;
  margin-top: 50px;
}

.gallery .one-gallery .row .left img {
  width: 100%;
  height: 100%;
}

.gallery .one-gallery .row .right {
  width: 50%;
  margin-top: 50px;
}

.gallery .one-gallery .row .right .tick-text {
  display: flex;
  width: 230px;
  justify-content: space-between;
}

.gallery .one-gallery .row .right .tick-text p {
  align-self: flex-end;
}

.gallery .one-gallery .row .right .blue {
  width: 20px;
  height: 20px;
  background-color: #1B44C0;
  border-radius: 30px;
  margin-top: 10px;
}

.gallery .one-gallery .row .right .blue img {
  margin: 25%;
  width: 12px;
}

.bg-plan-move2 {
  background-image: url("images/bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-plan-move3 {
  background-image: url("images/bg3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.bg-plan-move3 .card {
  margin: auto;
  background-color: #114AD5;
  margin-top: 100px;
  position: relative;
}

.bg-plan-move3 .card .row-card {
  width: 400px;
  margin: auto;
  height: 100%;
}

.bg-plan-move3 .card h1 {
  text-align: center;
  color: white !important;
  position: absolute;
  top: 50px;
  left: 160px;
  font-size: 5rem;
}

.bg-plan-move3 .card p {
  color: white !important;
  position: absolute;
  top: 120px;
  left: 120px;
}

.bg-plan-move3 .card .p2 {
  color: white !important;
  position: absolute;
  top: 170px;
  left: 70px;
  font-weight: 100;
  font-size: 14px;
  width: 400px;
}

.bg-plan-move3 .card input {
  position: absolute;
  top: 260px;
  width: 70%;
  height: 30px;
}

.bg-plan-move3 .card .search {
  width: 40px;
  height: 34px;
  background-color: #1B44C0;
  position: absolute;
  top: 260px;
  left: 400px;
}

.bg-plan-move3 .card .search img {
  position: absolute;
  top: 7px;
  left: 10px;
}

.procedure .left h1 {
  font-size: 3rem;
  color: #072440;
  height: 150px;
}

.procedure .left p {
  line-height: 2rem;
  font-size: 1.4rem;
  margin-top: 30px;
}

.procedure .right .one-rect .rect {
  border-radius: 100px;
}

.procedure .right .one-rect .rect h3 {
  width: 290px;
}

.claim-now .card {
  height: 450px;
}

.claim-now .card h1 {
  margin-top: 100px;
  position: absolute;
  top: 100px;
}

.claim-now .right-card {
  background-color: white;
  width: 450px;
  height: 200px;
  position: relative;
}

.claim-now .right-card .input {
  width: 200px;
  height: 10px;
  display: inline-block;
  margin-left: 15px;
  margin-top: 20px;
}

.claim-now .right-card .input-2 {
  margin-top: 20px !important;
}

.claim-now .right-card input {
  background-color: #DAE5FF;
  height: 30px;
  border: none;
  width: 180px;
}

.claim-now .right-card input label {
  color: #072440;
}

.claim-now .right-card textarea {
  position: absolute;
  top: 185px;
  left: 15px;
  background-color: #DAE5FF;
  padding-left: 10px;
  padding-top: 10px;
}

.claim-now .right-card .btn {
  margin-top: 150px !important;
  width: 98% !important;
  margin-left: 17px;
}

.contact-get-in-touch {
  width: 100%;
  margin-top: 100px;
  display: flex;
}

.contact-get-in-touch .left {
  width: 50%;
  height: 100%;
}

.contact-get-in-touch .left img {
  width: 110%;
  height: 470px !important;
}

.contact-get-in-touch .right {
  width: 55%;
  height: 100%;
}

.contact-get-in-touch .right .row {
  width: 500px;
}

.contact-video {
  background-image: url("images/bg-contact.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contact-service .cards {
  justify-content: space-between;
}

.contact-service .card {
  border: 1px solid #8CACF9;
  border-radius: 10px;
  padding: 20px;
  width: 27% !important;
}

.people {
  border: 1px solid black;
}

.people .row {
  display: flex;
  flex-wrap: wrap;
}

.people .person {
  border: 1px solid black;
  position: relative;
  width: 235px;
}

.people .person .blue {
  position: absolute;
  background-color: #1B44C0;
  width: 100%;
  height: 50px;
  bottom: 0px;
}

.people .person .blue .name {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}

.people .person .blue .job {
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin-top: 3px;
}

.become-team .bg-plan-move {
  background-image: url("images/team-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.become-team .bg-plan-move .card {
  border: none;
}

.become-team .bg-plan-move .row-card {
  width: 90% !important;
  margin-top: 20px;
  height: 230px;
}

.become-team .bg-plan-move .row-card button {
  margin-top: 15px !important;
}

.we-seek .cards {
  flex-wrap: wrap;
}

.we-seek .cards .card {
  width: 50%;
}

.we-seek .cards .card .blue {
  background-color: #1454FB;
  width: 40px;
  height: 10px;
  border-radius: 52px;
  margin-bottom: 10px;
}

.open {
  height: 400px;
  margin-top: 100px;
  background-image: url("images/team-bg2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: right;
  color: white;
  position: relative;
}

.open h2 {
  font-size: 3rem;
  position: absolute;
  top: 150px;
  right: 40px;
}

.open p {
  position: absolute;
  right: 40px;
  width: 90%;
  font-size: 14px;
  top: 220px;
}

.open button {
  position: absolute;
  top: 220px;
  right: 40px;
}

@media screen and (max-width: 500px) {
  .container {
    width: 500px !important;
  }
  .container .row {
    width: 450px !important;
  }
  .container .row .left-side-header, .container .row .right-side-header {
    font-size: 10px;
  }
  .container .row .left-side-header img {
    margin-top: 5px;
    width: 10px;
  }
  .container .row .left-side-header .number {
    display: inline-block;
    margin-left: 10px;
  }
  .container .row .right-side-header {
    margin-top: 10px;
  }
  .container .row .right-side-header .location {
    width: 10px;
    height: 15px;
    margin-right: -70px;
    margin-left: 40px;
  }
  .container .row .right-side-header p {
    margin-left: 40px;
  }
  .subheader {
    height: 60px;
  }
  .subheader nav {
    margin-left: -30px;
    font-size: 10px;
    width: 500px;
  }
  .subheader nav img {
    width: 10px;
  }
  .bg-header {
    margin-top: -120px;
  }
  .bg-header h1 {
    font-size: 2rem;
  }
  .bg-header p {
    font-size: 16px;
    text-align: left;
  }
  .bg-header button {
    width: 100px;
    height: 40px;
    border-radius: 2px;
  }
  .bg-header .cards .left-card {
    width: 50%;
  }
  .bg-header .cards .left-card .row-card {
    width: 180px;
  }
  .bg-header .cards .left-card h2 {
    font-size: 20px;
  }
  .bg-header .cards .left-card p {
    font-size: 13px;
  }
  .bg-header .cards .left-card img {
    left: 175px;
    top: 65%;
    width: 15px;
    cursor: pointer;
  }
  .bg-header .cards .right-card {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-wrap: wrap;
    font-size: 10px;
    width: 250px;
    position: relative;
  }
  .bg-header .cards .right-card .input {
    width: 50px;
    margin: 0px;
  }
  .bg-header .cards .right-card .input label {
    font-size: 10px !important;
  }
  .bg-header .cards .right-card .input input {
    width: 70px;
  }
  .bg-header .cards .right-card .input-2 {
    margin-top: 100px;
  }
  .bg-header .cards .right-card .input-phone {
    position: absolute;
    left: 25px;
    top: 30px;
  }
  .bg-header .cards .right-card .input-name {
    position: absolute;
    left: 130px;
    top: 40px;
  }
  .bg-header .cards .right-card .input-email {
    position: absolute;
    left: 25px;
    top: 30px;
  }
  .bg-header .cards .right-card .input-date {
    position: absolute;
    left: 130px;
    top: 30px;
  }
  .service .left-part-service {
    width: 50%;
    margin-top: -100px !important;
  }
  .service .left-part-service .link {
    font-size: 12px;
  }
  .service .left-part-service h2 {
    font-size: 20px;
  }
  .service .left-part-service p {
    font-size: 12px;
  }
  .service .right-part-service {
    width: 50%;
    margin-top: -100px !important;
  }
  .service .right-part-service img {
    width: 200px;
    margin-bottom: 10px;
  }
  .link {
    font-size: 12px !important;
  }
  h1, h2 {
    font-size: 20px !important;
  }
  .small-cards .card .row-card {
    width: 180px !important;
    margin: auto;
  }
  .small-cards .card h3 {
    font-size: 12px;
  }
  .small-cards .card p {
    font-size: 11px;
  }
  .small-cards .card a {
    font-size: 11px;
  }
  .small-cards .card .under-border1 {
    width: 60px !important;
  }
  .service-include .include-left {
    width: 50%;
  }
  .service-include .include-left h2 {
    font-size: 16px !important;
  }
  .service-include .include-left p {
    font-size: 10px !important;
  }
  .service-include .include-left button {
    width: 100px;
    height: 50px;
    font-size: 10px;
  }
  .service-include .include-left button img {
    width: 10px !important;
    left: 80px;
    top: 19px;
  }
  .service-include .include-left .konvert {
    width: 200px;
    height: 300px;
  }
  .service-include .include-right {
    width: 50%;
  }
  .service-include .include-right .card {
    width: 50%;
    height: 180px !important;
  }
  .service-include .include-right .card .row-card1 {
    width: 70px !important;
    margin-top: 0px !important;
  }
  .service-include .include-right .card .row-card1 h3 {
    font-size: 12px;
    margin-top: 20px;
  }
  .service-include .include-right .card .row-card1 p {
    font-size: 10px;
  }
  .service-include .include-right .rect-cards {
    align-content: space-around;
  }
  .support h3 {
    font-size: 12px !important;
  }
  .support p {
    font-size: 11px !important;
  }
  .support .every-day h2 {
    font-size: 12px !important;
  }
  .support .every-day p {
    font-size: 11px !important;
  }
  .what-they-say .say-left img {
    width: 300px !important;
    height: 400px !important;
  }
  .what-they-say .say-right .card {
    width: 230px !important;
    height: 300px !important;
    margin-top: 100px;
  }
  .what-they-say .say-right .card .link {
    font-size: 10px !important;
  }
  .what-they-say .say-right .card h2 {
    font-size: 12px !important;
  }
  .what-they-say .say-right .card p {
    font-size: 8px !important;
    top: 80px !important;
  }
  .what-they-say .say-right .card img {
    top: 250px !important;
    width: 30px;
  }
  .what-they-say .say-right .card .person {
    top: 250px !important;
    left: 40px !important;
  }
  .what-they-say .say-right .card .person1 {
    top: 265px !important;
    left: 40px !important;
  }
  .what-they-say .say-right .card .circle-border {
    top: 289px !important;
    width: 5px !important;
    height: 5px !important;
  }
  .what-they-say .say-right .card .row-card {
    width: 170px;
  }
  .additional-service .card h3 {
    font-size: 12px !important;
  }
  .additional-service .card p {
    font-size: 10px !important;
  }
  .additional-service .card a {
    font-size: 10px !important;
  }
  .additional-service .card .under-border {
    width: 70px !important;
  }
  .bg-plan-move .card {
    width: 350px;
    height: 300px;
    position: relative;
  }
  .bg-plan-move h1 {
    font-size: 30px !important;
    position: absolute;
    top: 40px;
    width: 250px;
    left: 40px;
  }
  .bg-plan-move p {
    font-size: 20px !important;
    position: absolute;
    top: 100px;
    left: 40px;
  }
  .bg-plan-move button {
    position: absolute;
    top: 170px;
    left: 40px;
    border: none;
  }
  .tips-and-guides .cards .card {
    width: 31%;
  }
  .tips-and-guides .cards .card .row-card {
    width: 120px;
  }
  .tips-and-guides .cards .card .row-card h3 {
    font-size: 10px !important;
  }
  .tips-and-guides .cards .card .row-card p {
    font-size: 8px !important;
  }
  .fura button {
    width: 120px !important;
    height: 50px !important;
    margin-top: 10px !important;
    font-size: 15px !important;
    margin-bottom: 10px !important;
  }
  .fura .row {
    flex-wrap: wrap;
    position: relative;
  }
  .fura .row .left-fura {
    width: 100%;
    position: relative;
    top: 150px;
  }
  .fura .row .right-fura {
    width: 100%;
  }
  .fura .row .right-fura img {
    position: absolute;
    top: 50px;
    width: 400px;
    left: 100px;
  }
  footer {
    margin-top: 150px;
  }
  footer .left-footer p {
    font-size: 11px;
  }
  footer .center-footer h1 {
    font-size: 12px !important;
  }
  footer .center-footer .under-border {
    width: 100px !important;
  }
  footer .center-footer ul {
    font-size: 10px;
  }
  footer .right-footer h1 {
    font-size: 12px !important;
  }
  footer .right-footer .under-border {
    width: 50px !important;
  }
  footer .right-footer ul {
    font-size: 10px;
  }
  footer .bottom-footer p {
    font-size: 10px !important;
  }
  .about-us-page {
    height: 150px;
  }
  .about-us-page img {
    margin-top: 90px !important;
  }
  .about-us-page a {
    font-size: 12px;
  }
  .service-mobile .left-part-service, .service-mobile .right-part-service {
    margin-top: 00px !important;
  }
  .cover-mobile h1 {
    text-align: center;
  }
  .cover-mobile p {
    margin-left: 40px;
  }
  .cover-mobile .cards .card:hover {
    height: 230px;
  }
  .cover-mobile .cards .card h3 {
    font-size: 12px;
  }
  .cover-mobile .cards .card p {
    font-size: 11px;
  }
  .we-started-mobile img {
    width: 300px !important;
  }
  .we-started-mobile .card {
    margin-left: -100px !important;
  }
  .we-started-mobile .card .row-card {
    width: 200px !important;
    margin: auto;
  }
  .we-started-mobile .card .row-card p {
    font-size: 12px;
  }
  .we-started-mobile .card .row-card button {
    width: 130px !important;
    height: 50px !important;
    font-size: 14px !important;
  }
  .zero-to-hero .left img {
    width: 100% !important;
  }
  .zero-to-hero .left p {
    font-size: 12px;
  }
  .zero-to-hero .left h1 {
    font-size: 14px !important;
  }
  .zero-to-hero .right .one-rect {
    margin-top: -18px;
    margin-left: px;
  }
  .zero-to-hero .right .rect {
    width: 20px;
    height: 20px;
  }
  .zero-to-hero .right .rect h3 {
    margin-left: 40px !important;
  }
  .zero-to-hero .right .rect p {
    font-size: 9px !important;
    margin-left: 40px;
    width: 150px;
  }
  .zero-to-hero .right .border {
    transform-origin: 11px;
  }
  .partners .partner {
    width: 32% !important;
  }
  .need-help .card {
    width: 45% !important;
    border: 1px solid black;
  }
  .need-help .card .row-card {
    width: 100px;
    margin: auto;
  }
  .need-help .card .row-card h1 {
    font-size: 14px !important;
    width: 180px;
    margin-left: 15px;
    margin-top: 10px;
  }
  .need-help .card .row-card p {
    font-size: 10px;
    width: 180px;
    margin-left: 15px;
  }
  .need-help .card .row-card button {
    font-size: 10px !important;
    height: 30px !important;
  }
  .row .contact-get-in-touch .left img {
    height: 480px !important;
  }
  .row .contact-get-in-touch img {
    width: 100% !important;
    margin: 0px !important;
  }
  .row .contact-get-in-touch .right {
    width: 50% !important;
  }
  .row .contact-get-in-touch .right label {
    font-size: 10px;
  }
  .row .contact-get-in-touch .right p {
    font-size: 12px !important;
    width: 240px;
  }
  .row .contact-get-in-touch .right-card {
    position: relative;
    width: 50%;
  }
  .row .contact-get-in-touch .right-card input {
    width: 90px;
  }
  .row .contact-get-in-touch .right-card label {
    position: absolute;
    top: -10px;
  }
  .row .contact-get-in-touch .input4 {
    position: absolute;
    left: 0px;
    top: 20px;
  }
  .row .contact-get-in-touch .input5 {
    position: absolute !important;
    left: 120px !important;
    top: 20px;
  }
  .row .contact-get-in-touch .input6 {
    position: absolute;
    top: 90px !important;
  }
  .row .contact-get-in-touch .input7 {
    position: absolute;
    top: 90px;
    left: 120px;
  }
  .row .contact-get-in-touch textarea {
    width: 215px;
  }
  .row .contact-get-in-touch .btn {
    width: 225px !important;
    position: absolute;
    line-height: 50px;
    top: 130px;
  }
  .row .contact-get-in-touch .btn img {
    width: 20px !important;
    position: absolute;
    top: 17px !important;
    left: 150px;
  }
  .bg-plan-move3 .card {
    width: 100% !important;
  }
  .bg-plan-move3 h1 {
    margin-left: -60px;
    font-size: 50px !important;
  }
  .bg-plan-move3 p {
    margin-left: 25px;
    font-size: 20px !important;
  }
  .bg-plan-move3 .p2 {
    margin-left: -40px;
    font-size: 15px !important;
  }
  .bg-plan-move3 input {
    top: 240px !important;
    width: 78% !important;
  }
  .bg-plan-move3 .search {
    left: 380px !important;
    top: 238px !important;
  }
  .bg-plan-move3 .search img {
    top: 8px !important;
    left: 10px !important;
  }
  .people .row {
    flex-wrap: wrap;
  }
  .people .person {
    width: 48%;
  }
  .become-team .bg-plan-move2 {
    background-size: 300%;
  }
  .become-team .row .card {
    width: 300px;
    height: 250px !important;
  }
  .become-team .row .card h1 {
    font-size: 20px !important;
    top: -30px !important;
  }
  .become-team .row .card p {
    font-size: 11px !important;
    top: 110px !important;
  }
  .become-team .row .card button {
    font-size: 14px !important;
    width: 100px !important;
    margin-top: 30px !important;
  }
  .row .additional-service .row h1 {
    font-size: 18px !important;
  }
  .open p {
    margin-top: -20px !important;
  }
  .open button {
    margin-top: 50px !important;
  }
  .moving-company .left-part-service, .moving-company .right-part-service {
    margin-top: 0px !important;
  }
  .moving-company .left-part-service h2 {
    font-size: 25px !important;
  }
  .moving-company .right-part-service {
    font-size: 13px;
  }
  .moving-company .right-part-service button {
    margin-top: 20px !important;
  }
  .gallery .one-gallery .right {
    font-size: 12px;
  }
  .gallery .one-gallery .right button {
    font-size: 14px !important;
    width: 120px !important;
  }
  .gallery .one-gallery .right p {
    font-size: 12px !important;
  }
  .gallery .one-gallery .right .tick-text {
    width: 200px !important;
    justify-content: flex-start !important;
  }
  .gallery .one-gallery .right .tick-text p {
    margin-left: 10px;
  }
  .need-help .we-started .card {
    width: 45% !important;
    border: 1px solid black;
  }
  .need-help .we-started .card .row-card {
    width: 100px !important;
    margin: auto !important;
    margin-left: 0px !important;
  }
  .need-help .we-started .card .row-card h1 {
    font-size: 14px !important;
    width: 180px !important;
    margin-left: 15px !important;
    margin-top: 10px !important;
  }
  .need-help .we-started .card .row-card p {
    font-size: 10px !important;
    width: 180px !important;
    margin-left: 15px !important;
  }
  .need-help .we-started .card .row-card button {
    font-size: 10px !important;
    height: 30px !important;
  }
  .procedure .zero-to-hero h1 {
    font-size: 25px !important;
  }
  .claim-now .card {
    height: 360px;
  }
  .claim-now .card h1 {
    position: absolute !important;
    top: -100px !important;
    left: 0px;
  }
  .claim-now .card p {
    position: absolute !important;
    top: 30px !important;
    font-size: 10px !important;
    left: 0px;
  }
  .claim-now .right-card {
    width: 350px;
    position: relative;
    position: absolute;
    top: 80px;
  }
  .claim-now .right-card label {
    font-size: 10px;
  }
  .claim-now .right-card .btn {
    position: absolute;
    top: 60px;
    left: 0px;
    width: 310px !important;
    height: 30px !important;
  }
  .claim-now .blue {
    position: absolute;
    top: -10px;
  }
  .claim-now input {
    width: 140px !important;
    font-size: 10px;
  }
  .claim-now .input-name {
    position: absolute;
    left: 0px;
  }
  .claim-now .input-phone {
    position: absolute;
    left: 170px;
  }
  .claim-now .input-id {
    position: absolute;
    top: 50px;
    left: 0px;
  }
  .claim-now .input-email {
    position: absolute;
    left: 170px;
    top: 50px;
  }
  .claim-now textarea {
    position: absolute !important;
    top: 130px !important;
    width: 300px;
    height: 50px;
  }
  .claim-now .comment {
    position: absolute !important;
    top: 110px !important;
  }
  .contact-get-in-touch .right p {
    margin-top: 350px !important;
    margin-left: 250px !important;
  }
  .contact-get-in-touch .right-card textarea {
    top: 180px !important;
  }
  .contact-get-in-touch .right-card input {
    width: 90px !important;
  }
  .contact-get-in-touch .right-card .btn {
    top: 100px !important;
    height: 40px !important;
    width: 225px !important;
  }
}
